/* ================= Checkbox ================= */
.checkbox {
  @apply h-5 w-5 border border-gray-300 dark:border-gray-600
         ring-1 ring-gray-300 dark:ring-gray-600
         rounded cursor-pointer inline-block align-middle flex-shrink-0
         p-0 appearance-none
         transition-colors duration-150 ease-in-out
         shadow-sm;
}

.checkbox:checked {
  @apply bg-current border-current ring-current;
}

.checkbox.disabled {
  @apply text-gray-200 bg-gray-200 border-gray-200 ring-gray-200
         dark:bg-gray-600 dark:text-gray-600 dark:border-gray-600 dark:ring-gray-600
         cursor-not-allowed;
}

/* ================= Checkbox Label ================= */
.checkbox-label {
  @apply inline-flex items-center gap-2.5 font-semibold cursor-pointer;
}

/* Hover effekti */
.checkbox-label:hover .checkbox {
  @apply border-current ring-current;
}

/* Disabled label */
.checkbox-label.disabled {
  @apply cursor-not-allowed;
}
