.drawer-content {
  @apply bg-white shadow-xl absolute flex flex-col;
}

.drawer-content.vertical {
  @apply h-full;
}

.drawer-content.horizontal {
  @apply w-full;
}

.drawer-header {
  @apply flex items-center justify-between py-4 px-6 border-b border-gray-200;
}

.drawer-body {
  @apply p-6 h-full overflow-y-auto;
}

.drawer-footer {
  @apply flex items-center justify-between py-4 px-6 border-t border-gray-200;
}

.drawer-open.drawer-lock-scroll {
  @apply overflow-hidden;
}

.drawer-overlay {
  @apply bg-black/80 inset-0 fixed z-30;
  transition: all 0.3s ease-in-out;
}

.drawer-overlay-after-open {
  opacity: 1;
}

.drawer-overlay-before-close {
  opacity: 0;
}
