.table-default {
  @apply table-auto min-w-full divide-y divide-gray-200 dark:divide-gray-700;
}

.table-default thead tr th {
  @apply p-3 rtl:text-right text-xs font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-100;
}

.table-default tbody {
  @apply divide-y divide-gray-200 dark:divide-gray-700;
}

.table-default tbody tr td {
  @apply p-1;
}

.table-default tfoot tr td {
  @apply p-1 border-t border-gray-200 dark:border-gray-700;
}

/* -------- Table Flex -------- */
.table-flex {
  @apply min-w-full divide-y divide-gray-200 dark:divide-gray-700;
}

.table-flex .thead {
  @apply bg-gray-50 dark:bg-gray-700;
}

.table-flex .thead .tr .th {
  @apply px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-500 dark:text-gray-100;
}

.table-flex .tbody {
  @apply divide-y divide-gray-200 dark:divide-gray-700;
}

.table-flex .tbody .tr .td {
  @apply px-6 py-4;
}

.table-flex .tfoot .tr .td {
  @apply px-6 py-3 border-t dark:border-gray-700;
}

/* -------- Table Border -------- */
.table-border thead tr th,
.table-border tbody tr td,
.table-border tfoot tr td {
  @apply border border-gray-200 dark:border-gray-700;
}

/* -------- Table Virtual -------- */
.table-virtual > div {
  @apply divide-y divide-gray-200 dark:divide-gray-700;
}

/* -------- Table Compact -------- */
.table-compact thead tr th,
.table-compact .thead .tr .th {
  @apply px-3 py-2 text-xs;
}

.table-compact tbody tr td,
.table-compact .tbody .tr .td {
  @apply px-3 py-2;
}

/* -------- Table Hover -------- */
.table-hover tbody tr:hover > * {
  @apply bg-black/[.03] dark:bg-white/[.05];
}

/* -------- Table Resizer -------- */
.table-resizer {
  @apply right-0 h-full absolute top-0 z-10 border-r-2 border-gray-200 dark:border-gray-600 w-2;
  touch-action: none;
}

th,
td {
  word-wrap: break-word;
}
