@import "tailwindcss";
/* Tailwind 4 da ranglar endi @theme ichida belgilanadi */
@theme {
  --color-neutral: #ffffff;
  --color-primary: #2a85ff;
  --color-primary-deep: #0069f6;
  --color-primary-mild: #4996ff;
  --color-primary-subtle: #2a85ff1a;
  --color-error: #ff6a55;
  --color-error-subtle: #ff6a551a;
  --color-success: #10b981;
  --color-success-subtle: #05eb7624;
  --color-info: #2a85ff;
  --color-info-subtle: #2a85ff1a;
  --color-warning: #f59e0b;
  --color-warning-subtle: #ffd40045;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;
}

/* Tailwind 4 da @layer base o‘rniga bevosita tag selector yozish mumkin */
:root {
  color: var(--color-gray-500);
  background-color: var(--color-gray-100);
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.dark {
  color-scheme: dark;
  --color-neutral: #ffffff;
  --color-primary: #2a85ff;
  --color-primary-deep: #0069f6;
  --color-primary-mild: #4996ff;
  --color-primary-subtle: #2a85ff1a;
  --color-error: #ff6a55;
  --color-error-subtle: #ff6a551a;
  --color-success: #10b981;
  --color-success-subtle: #05eb7624;
  --color-info: #2a85ff;
  --color-info-subtle: #2a85ff1a;
  --color-warning: #f59e0b;
  --color-warning-subtle: #ffd40045;
}

/* body {
  @apply text-gray-500 text-sm dark:text-gray-400 bg-gray-100 dark:bg-gray-950 leading-normal font-medium;
}

h1,
.h1 {
  @apply text-4xl font-bold text-gray-900 dark:text-gray-100;
}

h2,
.h2 {
  @apply text-3xl font-bold text-gray-900 dark:text-gray-100;
}

h3,
.h3 {
  @apply text-2xl font-bold text-gray-900 dark:text-gray-100;
}

h4,
.h4 {
  @apply text-xl font-bold text-gray-900 dark:text-gray-100;
}

h5,
.h5 {
  @apply text-lg font-bold text-gray-900 dark:text-gray-100;
}

h6,
.h6 {
  @apply text-base font-semibold text-gray-900 dark:text-gray-100;
}

hr {
  @apply border-gray-200 dark:border-gray-600;
}

.heading-text {
  @apply text-gray-900 dark:text-gray-100;
} */
