/* ================= Card ================= */
.card {
  @apply bg-white dark:bg-gray-800 rounded-2xl;
}

/* Card border */
.card-border {
  @apply border border-gray-200 dark:border-gray-800;
}

/* Card shadow */
.card-shadow {
  @apply shadow-[0_0.125rem_0.25rem_rgba(0,0,0,0.15)]
         dark:shadow-[0_0.125rem_0.25rem_rgba(0,0,0,0.15),inset_0_0_0_0.0625rem_rgba(254,254,254,.1)]
         border-b border-gray-200 dark:border-gray-600 dark:border-none;
}

/* Card header with border */
.card-header-border {
  @apply border-b border-gray-200 dark:border-gray-700 rounded-t-2xl;
}

/* Header extra actions */
.card-header-extra {
  @apply flex justify-between items-center;
}

/* Card footer */
.card-footer {
  @apply rounded-bl-lg rounded-br-lg;
}

/* Footer border */
.card-footer-border {
  @apply border-t border-gray-200 dark:border-gray-600;
}

/* Padding for header and footer */
.card-header,
.card-footer {
  @apply py-3 px-5;
}

/* Card body padding */
.card-body {
  @apply px-5 pb-1;
}

/* Gutterless card */
.card-gutterless {
  @apply p-0;
}
