.dropdown {
  @apply relative inline-block;
}

.dropdown-menu {
  @apply rounded-2xl bg-white ring-0 shadow-[0px_48px_64px_-16px_rgba(0,0,0,0.25)] border border-gray-100 focus:outline-none p-2 z-30 outline-none flex flex-col text-[16px];
}

.dropdown-menu.top-start {
  @apply ltr:left-0 rtl:right-0 bottom-full origin-bottom;
}

.dropdown-menu.top-center {
  @apply bottom-full left-1/2 origin-bottom;
}

.dropdown-menu.top-end {
  @apply ltr:right-0 rtl:left-0 bottom-full origin-bottom;
}

.dropdown-menu.bottom-start {
  @apply ltr:left-0 rtl:right-0 top-full origin-top;
}

.dropdown-menu.bottom-center {
  @apply left-1/2 top-full origin-top;
}

.dropdown-menu.bottom-end {
  @apply ltr:right-0 rtl:left-0 top-full origin-top;
}

.dropdown-menu.middle-start-top {
  @apply left-full top-0 origin-top;
}

.dropdown-menu.middle-start-bottom {
  @apply left-full bottom-0 origin-bottom;
}

.dropdown-menu.middle-end-top {
  @apply right-full top-0 origin-top;
}

.dropdown-menu.middle-end-bottom {
  @apply right-full bottom-0 origin-bottom;
}

.dropdown-toggle-default {
  @apply cursor-pointer p-2 inline-block font-semibold;
}

.dropdown-submenu-item {
  @apply justify-between;
}

.dropdown-toggle-disabled {
  @apply cursor-not-allowed;
}
