.form-item {
  @apply mb-7 relative;
}

.form-item.horizontal {
  @apply flex flex-auto;
}

.form-item.vertical {
  @apply flex flex-col;
}

.form-item.inline {
  @apply md:inline-flex mr-3 rtl:ml-3;
}

.form-label {
  @apply flex items-center font-semibold;
}

.form-label.invalid {
  @apply text-error;
}

.form-explain {
  @apply text-error absolute font-semibold;
}

.form-container.inline {
  @apply md:flex items-center;
}
